<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
</head>
<body>

    Quantidade de podcasts : <%= data.qtd_podcast %> <br> <br>
      
    
</body>
</html>